.container {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: space-between;
    max-width: 89%;
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 87%;
  }
}

@media screen and (max-width: 426px) {
  .container {
    max-width: 89%;
  }
}
