.log-reg {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 700px;
}

.log-reg__container {
  display: flex;
  flex-direction: column;
  width: 396px;
}

.log-reg__logo {
  background: center / contain no-repeat url('../../images/logo.svg');
  margin-top: 70px;
  width: 38px;
  height: 38px;
}

.log-reg__title {
  margin: 40px 0 0 0;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
}

.log-reg__form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 40px;
  width: 100%;
  min-height: 380px;
}

.log-reg__label {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 44px;
}

.log-reg__label:first-child {
  margin: 0;
}

.log-reg__text {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #8B8B8B;
}

.log-reg__input {
  margin: 0;
  padding: 0;
  min-height: 32px;
  border: none;
  border-bottom: 1px solid gray;
  outline: none;
  background-color: #202020;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}

.log-reg__input:focus{
  border-color: #4285F4; /* Синяя рамка */
}

.log-reg__input-error {
  display: none;
  margin: 6px 0 0 0;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #EE3465;
}

.log-reg__input-error_active {
  margin: 6px 0 0 0;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #EE3465;
}

.log-reg__submit {
  margin: 134px 0 0 0;
  width: 100%;
  height: 45px;
  border: none;
  background-color: #4285F4;
  border-radius: 3px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FFFFFF;
}

.log-reg__submit:hover {
  opacity: 0.8;
  cursor: pointer;
}

.log-reg__login {
  margin: 16px 0 70px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.log-reg__login-text {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #8B8B8B;
}

.log-reg__login-link {
  margin: 0 0 0 6px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #4285F4;
}

@media screen and (max-width: 768px) {
  .log-reg__logo {
    margin-top: 232px;
  }

  .log-reg__login {
    margin: 16px 0 232px 0;
  }
}

@media screen and (max-width: 426px) {
  .log-reg__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 260px;
  }

  .log-reg__logo {
    margin-top: 56px;
  }

  .log-reg__title {
    margin: 50px 0 0 0;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
  }

  .log-reg__form {
    margin-top: 80px;
  }

  .log-reg__submit {
    margin: 222px 0 0 0;
    font-size: 12px;
    line-height: 15px;
  }

  .log-reg__login {
    margin: 14px 0 30px 0;
  }

  .log-reg__login-text {
    font-size: 12px;
    line-height: 15px;
  }

  .log-reg__login-link {
    margin: 0 0 0 7px;
    font-size: 12px;
    line-height: 15px;
  }
}
