.header {
  min-height: 74px;
  background-color: #202020;
}

.header__container {
  flex-direction: row;
}

.header__logo {
  width: 38px;
  height: 38px;
}

.header__link-container {
  margin-top: 18px;
  display: flex;
  align-items: center;
}

.header__links {
  margin-left: 44px;
}

.header__link {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  text-align: right;
  color: #FFF;
  text-decoration: none;
}

.header__link_active {
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  text-align: right;
  color: #FFFFFF;
  text-decoration: none;

}

.header__link:last-child,
.header__link_active:last-child {
  margin-left: 16px;
}

.header__link:hover,
.header__link_active:hover {
  opacity: 0.7;
}

.header__account {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin-top: 21px;
  background-color:  #313131;
  width: 100px;
  height: 32px;
  border: none;
  border-radius: 20px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #FFF;
}

.header__account:hover {
  opacity: 0.8;
}

.header__burger {
  margin-top: 15px;
  display: none;
  border: none;
  background-color: #202020;
  background: center / contain no-repeat url('../../images/burger.svg');
  width: 44px;
  height: 44px;
}

.header__burger:hover {
  opacity: 0.8;
}

@media screen and (max-width: 768px) {
  .header__container {
    flex-direction: row;
    max-width: 92%;
  }

  .header__account{
    display: none;
  }

  .header__burger {
    display: block;
  }

  .header__link,
  .header__link_active {
    display: none;
  }
}

@media screen and (max-width: 426px) {
  .header__burger {
    width: 40px;
    height: 43px;
  }
}

