.about-me {
  min-height: 603px;
}

.about-me__content {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin-top: 66px;
}

.about-me__photo {
  width: 270px;
  height: 327px;
  margin-left: 49px;
}

.about-me__name {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  letter-spacing: -0.04em;
  color: #FFF;
}

.about-me__subName {
  margin: 18px 0 0 0;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  color: #FFF;
}

.about-me__text {
  margin: 26px 0 0 0;
  max-width: 600px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #FFF;
}

.about-me__github {
  display: block;
  margin: 99px 0 0 0;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}

.about-me__github:hover {
  opacity: 0.7;
}

@media screen and (max-width: 768px) {
  .about-me {
    min-height: 554px;
  }

  .about-me__photo {
    width: 255px;
    height: 307px;
  }

  .about-me__name {
    font-size: 40px;
    line-height: 40px;
  }

  .about-me__subName {
    margin: 16px 0 0 0;
    font-size: 12px;
    line-height: 18px;
  }

  .about-me__text {
    margin: 20px 0 0 0;
    max-width: 364px;
    font-size: 12px;
    line-height: 18px;
  }

  .about-me__github {
    margin: 87px 0 0 0;
  }
}

@media screen and (max-width: 549px) {
  .about-me__content {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
  }

  .about-me__photo {
    width: 292px;
    height: 352px;
    margin-left: 0;
  }

  .about-me__name {
    margin-top: 40px;
  }
}

@media screen and (max-width: 426px) {
  .about-me {
    min-height: 854px;
  }

  .about-me__container {
    max-width: 91%;
  }

  .about-me__name {
    margin-top: 40px;
    font-size: 30px;
    line-height: 36px;
  }

  .about-me__subName {
    margin: 20px 0 0 0;
    font-size: 11px;
    line-height: 16px;
  }

  .about-me__text {
    margin: 20px 0 0 0;
    max-width: 100%;
    font-size: 11px;
    line-height: 16px;
  }

  .about-me__github {
    margin-top: 40px;
  }
}
